<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<span th:text="${msg}" th:attr="data-d=${msg}">Red Chair</span>
<br>
<span>[[${msg}]]</span>
<br>

<div th:object="${user}">
    <span th:text="*{name}"></span>
</div>

<hr>

<h2>用户列表</h2>
<div>
    <ul>
        <li  th:each="user:${userList}">
            <span th:text="${user.Id}"></span>-
            <span th:text="${user.name}"></span>-
            <span th:text="${user.nikeName}"></span>-
            <span th:text="${#dates.format(user.createTime, 'yyyy-MM-dd hh:mm:ss')}"></span>
        </li>
    </ul>
</div>
<hr>

</body>
</html>